

body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    width:80vh;
    height: 1000px;
    background-color: brown;
}

.content{
    width: 100vw;
    height: 20px;
}